<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>Scrabble Score</title>
    </head>
    <body>
        <div class="container">
            <h1>Scrabble Word Score</h1>
            <form action="/scrabble_score">
                <div class="form-group">
                    <label for="word">Scrabble Word</label>
                    <input type="text" id="word" name="word" class='form-control'><br>
                </div>
                <button class="btn btn-success" type="submit">Find Scrabble Score!</button>
            </form>
            <hr>
            <br>
            <!-- <div class="well">
                <h3>Who won?</h3>
                <p>
                    {{ results }}
                </p>

            </div> -->
        </div>
    </body>
</html>
